html { 
  background: url(http://www.backgroundlabs.com/files/dark-wood-panels-1645.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
